rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /{document=**} {

            function getCurrentEmployeeRole(id) {
                return get(/databases/$(database)/documents/employees/$(id)).data.role;
            }

            match /employees/{employeeId} {
                allow read;
                allow create: if isValidEmployee(employeeId);
                allow update: if isValidEmployeeUpdate(employeeId);
            }

            function employeeActiveFieldType() {
                return request.resource.data.isActive is bool;
            }

            function employeeFieldTypes() {
                return request.resource.data.firstName is string &&
                       request.resource.data.lastName is string &&
                       request.resource.data.phoneNumber is string &&
                       request.resource.data.email is string &&
                       request.resource.data.email.matches('^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+$') &&
                       request.resource.data.department is string &&
                       request.resource.data.jobTitles is list &&
                       request.resource.data.skills is list &&
                       request.resource.data.role is number &&
                       getCurrentEmployeeRole(request.auth.uid) > request.resource.data.role
            }



            function isValidEmployee(employeeId) {
                let hasEmployeeFields = request.resource.data.keys().hasOnly(['firstName', 'lastName', 'email', 'phoneNumber', 'department', 'jobTitles', 'skills', 'role']);
                let createdValidEmployee = existsAfter(/databases/$(database)/documents/employees/$(employeeId));

                return createdValidEmployee && hasEmployeeFields
                       && getCurrentEmployeeRole(request.auth.uid) >= 3 && employeeFieldTypes();
            }

            function isValidEmployeeUpdate(employeeId) {
                let hasEmployeeFields = request.resource.data.keys().hasOnly(
                    ['firstName', 'lastName', 'email', 'phoneNumber', 'department', 'jobTitles', 'skills', 'role']);
                let hasActiveFields = request.resource.data.keys().hasOnly(
                    ['firstName', 'lastName', 'email', 'phoneNumber', 'department', 'jobTitles', 'skills', 'role', 'isActive']);
                let createdValidEmployee = existsAfter(/databases/$(database)/documents/employees/$(employeeId));

                return createdValidEmployee && (hasEmployeeFields && employeeFieldTypes()) ||
                       (hasActiveFields && employeeFieldTypes() && employeeActiveFieldType()) && getCurrentEmployeeRole(request.auth.uid) >= 3;
            }

            function departmentFieldTypes() {
                return request.resource.data.name is string &&
                       request.resource.data.director is string
            }

            match /departments/{departmentId} {
                allow read;
                allow create: if isValidDepartment(departmentId);
                allow update: if isValidDepartment(departmentId);
                allow delete: if isValidDepartmentDelete(departmentId);
            }

            function isValidDepartment(departmentId) {
                let createdValidDepartment = existsAfter(/databases/$(database)/documents/departments/$(departmentId));
                let hasFields = request.resource.data.keys().hasOnly(['name', 'director']);

                return createdValidDepartment && hasFields
                       && getCurrentEmployeeRole(request.auth.uid) >= 3 && departmentFieldTypes();
            }

            function isValidDepartmentDelete(departmentId) {
                let jobTitleExists = existsAfter(/databases/$(database)/documents/departments/$(departmentId));

                return !jobTitleExists && getCurrentEmployeeRole(request.auth.uid) >= 3;
            }

            function nameFieldTypes() {
                return request.resource.data.name is string
            }

            match /roles/{roleId} {
                allow read;
                allow create: if isValidRole(roleId);
                allow update: if isValidRole(roleId);
            }

            function isValidRole(roleId) {
                let createdValidRole = existsAfter(/databases/$(database)/documents/roles/$(roleId));
                let hasFields = request.resource.data.keys().hasOnly(['name']);

                return createdValidRole && hasFields
                       && getCurrentEmployeeRole(request.auth.uid) >= 3 && nameFieldTypes();
            }

            match /jobTitles/{jobTitleId} {
                allow read;
                allow create: if isValidJobTitle(jobTitleId);
                allow update: if isValidJobTitle(jobTitleId);
                allow delete: if isValidJobTitleDelete(jobTitleId);
            }

            function isValidJobTitle(jobTitleId) {
                let createdValidJobTitle = existsAfter(/databases/$(database)/documents/jobTitles/$(jobTitleId));
                let hasFields = request.resource.data.keys().hasOnly(['name']);

                return createdValidJobTitle && hasFields
                       && getCurrentEmployeeRole(request.auth.uid) >= 3 && nameFieldTypes();
            }

            function isValidJobTitleDelete(jobTitleId) {
                let jobTitleExists = existsAfter(/databases/$(database)/documents/jobTitles/$(jobTitleId));

                return !jobTitleExists && getCurrentEmployeeRole(request.auth.uid) >= 3;
            }

            match /skills/{skillId} {
                allow read;
                allow create: if isValidSkill(skillId);
                allow update: if isValidSkill(skillId);
                allow delete: if isValidSkillDelete(skillId);
            }

            function isValidSkill(skillId) {
                let createdValidJobTitle = existsAfter(/databases/$(database)/documents/skills/$(skillId));
                let hasFields = request.resource.data.keys().hasOnly(['name']);

                return createdValidJobTitle && hasFields
                       && getCurrentEmployeeRole(request.auth.uid) >= 3 && nameFieldTypes();
            }

            function isValidSkillDelete(roleId) {
                let skillExists = existsAfter(/databases/$(database)/documents/roles/$(roleId));

                return !skillExists
                       && getCurrentEmployeeRole(request.auth.uid) >= 3;
            }

            match /shifts/{shiftId} {
                allow read;
                allow create: if isValidShift(shiftId);
                allow update: if isValidShift(shiftId);
                allow delete: if isValidShiftDeletion(shiftId);
            }

            function isValidShiftDeletion(shiftId) {
                let validShift = existsAfter(/databases/$(database)/documents/shifts/$(shiftId));

                return !validShift && getCurrentEmployeeRole(request.auth.uid) >= 3;
            }

            function isValidShift(shiftId) {
                let createdValidShift = existsAfter(/databases/$(database)/documents/shifts/$(shiftId));
                let hasFields = request.resource.data.keys().hasOnly(['department', 'employeeId', 'end', 'projectName', 'start']);

                return createdValidShift && hasFields
                       && getCurrentEmployeeRole(request.auth.uid) >= 3 && nameFieldTypes();
            }

            match /projects/{projectId} {
                allow read;
                allow create: if isValidProject(projectId);
                allow update: if isValidProject(projectId);
            }

            match /unavailabilities/{unavailabilityId} {
                allow read: if(isValidToReadUnavailabilities());
                allow write: if(isValidUnavailabilityCreate());
                allow delete: if(isValidUnavailabilityDelete());
            }

            function isValidProject(projectId) {
                let createdValidProject = existsAfter(/databases/$(database)/documents/projects/$(projectId));
                let hasFields = request.resource.data.keys().hasOnly(['name', 'start']);

                return createdValidProject && hasFields
                       && getCurrentEmployeeRole(request.auth.uid) >= 3 && projectFieldTypes();
            }

            function isValidUnavailabilityDelete() {
                 let isEmployee = getCurrentEmployeeRole(request.auth.uid) >=1;

                return isEmployee
            }
        }

    }
}
