:root {
  --side_bar_width: 300px;
}

body {
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.navbar-brand {
  font-size: 25px;
}

.navbar {
  background-color: #20232a;
}

#root {
  overflow-x: hidden;
}

.loadingBar {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigLoading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminActions {
  text-decoration: none;
  cursor: pointer;
  color: #0a53be;
}

.adminActions > svg {
  width: 1.3em;
  height: 1.3em;
}

.noneJobTitle {
  font-size: 0.9em;
}
