:root {
  --side_bar_width: 300px;
}

body{
	background-color:#111117;
	background-size:100%;
	background-position:top;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:white;
	margin:0;
	font-family: 'Poppins', sans-serif;
	font-size:13px;
}

#root{
	overflow-x:hidden;
}

#rs_home{
	position:relative;
}

#rs_home .bubbles_container{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-10;
	opacity:0.2;
}

#rs_home .bubbles_container > div{
	position:absolute;
	background-color:#2d57df;
	border-radius:25px;
	transform-origin: 100% 0%;
}

#rs_home .bubbles_container > div.a01{
	top:200px;
	left:200px;
	width:200px;
	height:200px;
	-webkit-animation: blob_01 60s linear infinite;
	opacity:1;
}

#rs_home .bubbles_container > div.a02{
	bottom:300px;
	left:calc(100% - 200px);
	width:200px;
	height:200px;
	-webkit-animation: blob_02 60s linear infinite;
	opacity:1;
}

@keyframes blob_01 {
	0% {transform:rotate(0deg);opacity:1;width:200px;height:200px;transform-origin: 100% 0%;}
	25% {transform:rotate(360deg);opacity:0.2;width:50px;height:50px;transform-origin: -150% 0%;}
	50% {transform:rotate(0deg);opacity:1;width:200px;height:200px;transform-origin: 100% 0%;}
	75% {transform:rotate(360deg);opacity:0.3;width:50px;height:50px;transform-origin: -150% 0%;}
	100% {transform:rotate(0deg);opacity:1;width:200px;height:200px;transform-origin: 100% 0%;}
}

@keyframes blob_02 {
	0% {transform:rotate(0deg);opacity:1;width:200px;height:200px;transform-origin: 50% 0%;}
	25% {transform:rotate(-360deg);opacity:0.2;width:50px;height:50px;transform-origin: -150% 0%;}
	50% {transform:rotate(0deg);opacity:1;width:200px;height:200px;transform-origin: 100% 0%;}
	75% {transform:rotate(-360deg);opacity:0.3;width:50px;height:50px;transform-origin: -150% 0%;}
	100% {transform:rotate(0deg);opacity:1;width:200px;height:200px;transform-origin: 50% 0%;}
}

#rs_header{
	position:sticky;
	top:0;
	background-color:rgba(17,17,23,0.9);
	display:flex;
	padding:15px;
	z-index:99;
	backdrop-filter: blur(4px);
}

/* -- MAIN NAVIGATION -- */

nav#rs_main_menu{
	
}

nav#rs_main_menu > ul{
	list-style:none;
	margin:0;
	padding:0;
}

nav#rs_main_menu > ul > li{
	display:inline-block;
}

nav#rs_main_menu > ul > li > a{
	display:block;
	color:white;
	text-decoration:none;
	font-weight:500;
	font-size:16px;
	padding:15px 25px;
}

nav#rs_main_menu > ul > li > a:hover{
	color:#2d57df;
}

nav#rs_main_menu > ul > li#register_button > a{
	margin-left:15px;
	background-color:#35394b;
	border-radius:7px;
}

nav#rs_main_menu > ul > li#register_button > a:hover{
	color:white;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(53,57,75,0.61); 
	box-shadow: 0px 0px 15px 0px rgba(53,57,75,0.61);
}

nav#rs_main_menu > ul > li#login_button > a{
	margin-left:15px;
	background-color:#2d57df;
	border-radius:7px;
}

nav#rs_main_menu > ul > li#login_button > a:hover{
	color:white;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(45,87,223,0.61); 
	box-shadow: 0px 0px 15px 0px rgba(45,87,223,0.61);
}

/* -- BANNER -- */

.rs_banner_container{
	margin:200px auto;
}

.rs_status_blocks{
	margin-bottom:20px;
}

.rs_status_blocks .rs_block{
	border-radius:15px;
}

.rs_block .title_container{
	padding:15px 20px;
	border-radius:12px;
	background-color:rgba(45,87,223, 0.1);
}

.rs_block.green .title_container{
	padding:15px 20px;
	border-radius:12px;
	background-color:rgba(120,223,45, 0.1);
}

.rs_block .info_container{
	font-size:22px;
	font-weight:bold;
}

.rs_block .title{
	color:#2d57df;
	font-weight:500;
	font-size:15px;
}

.rs_block.green .title{
	color:rgba(120,223,45, 0.8);
	font-weight:500;
	font-size:15px;
}

.rs_block .info{
	color:white;
	font-weight:500;
	font-size:14px;
}

#rs_banner{
	position:relative;
}

#rs_banner h1{
	position:relative;
	font-size:42px;
	margin-bottom:15px;
	font-weight:550;
}

#rs_banner h1:before{
	position:absolute;
	opacity:0.2;
	pointer-events: none;
	filter: blur(4px);
	left:0;
	top:10px;
	content:"Turn your ideas into reality.";
	display:block;
	font-size:42px;
	font-weight:550;
	animation-name: moving_pace;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes moving_pace {	
	0%   {top:10px;left:0;filter: blur(5px);}
	50%  {top:-10px;left:0;filter: blur(2px);}
	100%  {top:10px;left:0;filter: blur(5px);}
}

#rs_banner .rs_banner_container p{
	font-size:20px;
	margin-bottom:25px;
	color:#666b85;
	font-weight:450;
}

.rs_banner_buttons > a{
	transition: background-color .3s ease, box-shadow .3s ease, color .3s ease;
}

.rs_banner_buttons > a.rs_button_blue{
	margin-right:10px;
	background-color:#2d57df;
	display:inline-block;
	color:white;
	text-decoration:none;
	font-size:16px;
	font-weight:500;
	padding:15px 25px;
	border-radius:7px;
}

.rs_banner_buttons > a.rs_button_blue:hover{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(45,87,223,0.61); 
	box-shadow: 0px 0px 15px 0px rgba(45,87,223,0.61);
}

.rs_banner_buttons a.rs_button_faded{
	background-color:#35394b;
	display:inline-block;
	color:white;
	text-decoration:none;
	font-size:16px;
	font-weight:500;
	padding:15px 25px;
	border-radius:7px;
}

.rs_banner_buttons > a.rs_button_faded:hover{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(53,57,75,0.61); 
	box-shadow: 0px 0px 15px 0px rgba(53,57,75,0.61);
}

/* -- FEATURES -- */

.rs_banner_features{
	margin-top:200px;
}

.rs_banner_features h4{
	margin:0;
	padding:0;
	display:inline;
	font-size:18px;
}

.rs_feature{
}

.rs_feature_icon_container{
	margin-bottom:15px;
	text-align:center;
	
}

.rs_feature_icon_container > div{
	transition:.2s ease;
	display:inline-block;
}

.rs_feature_info_container{
	text-align:center;
	padding:25px;
}

.rs_feature_info_container p{
	margin-top:15px;
	font-size:12px;
}

.rs_feature_icon{
	background-color:#2d57df;
	border-radius:15px;
	width:60px;
	height:60px;
	transform:rotate(45deg);
	color:white;
	text-align:center;
	line-height:60px;
	font-size:22px;
}

.rs_feature_icon > div{
	transform:rotate(-45deg);
}

.rs_feature:hover .rs_feature_icon_container{
	
}

.rs_feature:hover .rs_feature_icon_container > .rs_feature_icon{
	-webkit-box-shadow: 0px 0px 15px 0px #2D57DF; 
	box-shadow: 0px 0px 15px 0px #2D57DF;
}

.rs_section{
	padding:100px 0px;
}
.rs_banner_feature_image{
	margin-left:25px;
}
.rs_banner_feature_image .feature_controls{
	display:flex;
	overflow:hidden;
	border-top-right-radius:8px;
	border-top-left-radius:8px;
}

.rs_banner_feature_image > .feature_controls > button{
	background-color:#1f202b;
	cursor:pointer;
	text-align:center;
	width:33.33%;
	padding:15px;
	color:white;
	border:0;
}

.rs_banner_feature_image > .feature_controls > button:hover{
	background-color:#1a1b24;
}

.rs_banner_feature_image > .feature_controls > button.active{
	background-color:#2a2d3c;
}

.rs_banner_feature_image > .feature_container{
	width:100%;
	height:280px;
	width:550px;
	background-color:#2a2d3c;
	text-align:left;
	display:block;
	padding:15px;
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	position:relative;
}

.rs_banner_feature_image > .feature_container > pre{
	position:absolute;
	top:15px;
	left:15px;
	right:15px;
	bottom:0;
	background-color:#232531 !important;
	border-radius:6px;
	padding:15px !important;
}

.rs_banner_feature_image > .feature_container:after{
	position:absolute;
	content:" ";
	height:50px;
	left:25px;
	z-index:-3;
	right:25px;
	border-radius:15px;
	bottom:-33px;
	background-color:rgba(0,0,0,0.5);
	filter: blur(10px);
}

.rs_banner_feature_image > .feature_container > pre::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.rs_banner_feature_image > .feature_container > pre::-webkit-scrollbar-track {
	background: transparent;
}

.rs_banner_feature_image > .feature_container > pre::-webkit-scrollbar-thumb {
	background: #888;
	border-radius:50px;
	border:3px solid rgb(40, 44, 52);
}

.rs_banner_feature_image > .feature_container > pre::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.rs_banner_feature_image > .feature_container > pre::-webkit-scrollbar-corner {background-color: transparent;}

.feature_container#codeFeatureJS, .feature_container#codeFeatureTS{
	display:none;
}

.feature_container#codeFeatureJS.visible, .feature_container#codeFeatureTS.visible{
	display:block;
}

/* Sections */

section.primary_color{
	background-color:#181820;
}

section.primary_content{
	padding:55px 0px;
}

section.box_effect{
	position:relative;
}

section.box_effect:before{
	position:absolute;
	border-radius:0%;
	content:" ";
	top:-55px;
	background-color:#181820;
	transform: skew(0deg, 4deg);
	z-index:-1;
	height:350px;
	width:100%;
	left:0;
	-webkit-animation: skew_01 15s linear infinite;
}

section.box_effect:after{
	position:absolute;
	border-radius:22%;
	content:" ";
	top:-55px;
	background-color:#181820;
	transform: skew(0deg, 0deg);
	z-index:-1;
	height:350px;
	width:100%;
	right:0;
	-webkit-animation: skew_02 15s linear infinite;
}

@keyframes skew_01 {
	0% {transform: skew(0deg, 4deg);border-radius:0%;}
	50% {transform: skew(0deg, 0deg);border-radius:22%;}
}

@keyframes skew_02 {
	0% {transform: skew(0deg, 0deg);border-radius:22%;}
	50% {transform: skew(0deg, -4deg);border-radius:0%;}
}

@media only screen and (max-width: 1920px) {
	.rs_banner_container{
		margin:60px auto;
	}
}

@media only screen and (max-width: 991px) {
	
	#rs_main_menu ul{
		display:none;
	}
	
	.rs_banner_features{
		margin-top:50px;
	}
	
	.rs_banner_container{
		margin:50px auto;
		text-align:center;
	}

	
	.rs_banner_feature_image img{
		margin-top:50px;
		width:100%;
	}
	
	.rs_banner_feature_image > .feature_container{
		display:block;
		width:100%;
	}
	
}

@media only screen and (max-width: 600px) {
	
	.rs_status_blocks > div{
		margin-bottom:10px;
	}
	
	.rs_banner_feature_image{
		margin:65px 0px;
	}
}	